
.list ul {
    list-style-type: none;
}

.list ul li {
    height: 60px;
    background-color: chocolate;
    width: 100%;

    border: solid 1px;
}

.list .header {
    font-size: 40px;
    font-weight: bold;
}


.list .item-name {
    float:left;
    margin-top:15px;
    font-size: 30px;
    font-weight: bold;
}

.list .btn-panel {
    float:right;
    margin-top:10px;
}

.list .btn {
    float: left;
    cursor: pointer;    
    color: black;
    font-size: 25px;
    margin: 5px;
}

.header-panel {
    margin: 50px;
    height: 20px;
}

.header-panel .input-field {
    float:left;
    height: 30px;
    width: 200px;
}